.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-top: .16rem;
}
#ico1{
font-size: .58rem;
color: #DE698C;
}
#ico2{
    font-size: .36rem;
}
.search-box{
    width: 2.4rem;
    height: .5rem;
    font-size: .24rem;
    background-color: #f4f4f4;
    color: #999;
    border-radius:.469rem ;
    line-height: .5rem;
    box-sizing: border-box;
    padding-left: .24rem;
    overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
   display: flex;

}
.headimg{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: red;
}
.download{
    color: white;
    background-color: #DE698C;
    border-radius: .14rem;
    width: 1.68rem;
    height: .48rem;
    text-align: center;
    line-height: .48rem;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
   margin-top: .2rem;
   /* margin-bottom: .2rem; */

}
.narrow{
    width: .72rem;
}
.narrow img{
    width: .6rem;
}
.top-nav{
    margin: .16rem .42rem;
    margin-bottom: .08rem;
    /* border-bottom: 1px solid #DE698C; */
}
.header-bottom .nav{
    display: flex;
    width: cal(7.5rem-.72rem);
    overflow: auto;
}
.top-nav{
    flex-shrink: 0;
    padding-bottom: .16rem;
   
     
    

}
.top-nav :not(.first-a){
    color: #757575;
}
.nav .top-nav:first-of-type{
    border-bottom: .04rem solid #fb7299;
}
.first-a{
    color: #fb7299;
}
::-webkit-scrollbar{
    display: none;
}
.contain{
   width: 7.5rem;
}
.contain-top{
    width: 96%;
    height: 2.2rem;
    margin: 0 auto;
    border-radius:.2rem;
    overflow: hidden;
}
.contain-top img{
    width: 100%;
    height: 100%;
}
.contain-bottom{
    width: 96%;
    margin: 0 auto;
}
.contain-main img{
    width: 3.37rem;
    height: 2.2rem;
}
.contain-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contain-main{
    flex: 0 0 50%;
   margin-top: .2rem;
    overflow: hidden;
}
.contain-main img{
    border-radius: .2rem;
}
.contain-main .text{
    font-size: .19rem;
    color: #212121;
    letter-spacing: 0;
    line-height: .4rem;
    text-align: left
}
